@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    font-family: Roboto, sans-serif;
    color: #FFFDD0;
}

body {
    background-color: #1a1a1a;
}

.content {
    display: grid;
    grid-template-columns: 1fr 10fr;
    gap: .25em;
    height: 100vh;
}

nav,
.pages {
    background-color: #282828;
    border-radius: .5rem;
}

nav {
    padding-right: 0;
}

nav .option {
    display: flex;
    align-items: center;
    gap: .1em;
    margin-top: 1em;
    border-radius: .5rem;
    padding: .25em;
}

nav .option:hover,
nav .option:focus {
    cursor: pointer;
    background-color: #1a1a1a;
}

nav .option p {
    font-size: 0rem;
    transition: font-size 0.3s;
}

nav .projects_collapse {
    display: none;
}

nav .projects_menu {
    display: none;
    margin-left: 1em;
}

.page {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.page h1 {
    font-size: 2rem;
    margin-top: 1em;
    margin-left: 1em;
}

.button {
    border-radius: 15px;
    padding: .25em;
    max-width: 1.5em;
}

.button:hover,
.button:focus {
    cursor: pointer;
    background-color: #1a1a1a;
}

.page .add_task_btn {
    margin: auto auto 0;
}

.page_content {
    margin-top: 2em;
    margin-left: 2em;
}

.today .input_container {
    display: flex;
    flex-direction: column;
    max-width: 90%;
}

.today .button_container {
    align-self: flex-end;
    opacity: 0;
    transition: all .3s;
    transition-delay: .5s;
}

.today .input_field {
    width: 0rem;
    height: 0rem;
    background-color: #1a1a1a;
    color: rgb(187, 182, 182);
    border: none;
    border-radius: 5px;
    resize: none;
    transition: all 0.3s;
}

.today .input_field:focus {
    outline: none;
}

.new_todo__new_task_container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #1a1a1a;
    border-radius: 5px;
    width: 90%;
    padding: .5em;
    margin-bottom: .5em;
}

.new_todo__new_task_wrapper {
    display: flex;
    width: 100%;
}

.new_todo__task_content {
    color: rgb(187, 182, 182);
    word-wrap: break-word;
    white-space: pre-wrap;
    word-break: break-word;
    align-self: flex-start;
    margin-top: 2px;
    width: 100%;
}

.new_todo__task_content:hover,
.new_todo__task_content:focus {
    cursor: pointer;
    opacity: .5;
}

.new_todo__modal_container {
    margin: 0 auto;
    align-self: center;
    outline: none;
    border: none;
    border-radius: 15px;
    background-color: #282828;
    box-shadow: 0 0 1em rgb(0 0 0/ .3);
    padding: .5em;
    min-width: 13em;
}

.new_todo__modal_wrapper {
    display: flex;
    flex-direction: column;
}

.new_todo__close_modal {
    font-size: larger;
    align-self: flex-end;
}

.new_todo__close_modal:hover {
    cursor: pointer;
}

.new_todo__modal_content {
    font-weight: bold;
    font-size: 1.5rem;
    margin-bottom: 1em;
    padding: .15em;
    border-radius: 10px;
}

.new_todo__modal_content:hover,
.new_todo__modal_content:focus {
    background-color: #1a1a1a;
    cursor: pointer;
}

.new_todo__modal_info {
    color: white;
    opacity: .5;
}

.new_todo__modal_container::backdrop {
    background-color: black;
    opacity: .25;
}

@media (min-width: 700px) {
    .content {
        max-width: 700px;
        margin: 0 auto;
        padding: 1em;
    }
}