@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    font-family: Roboto, sans-serif;
    color: #FFFDD0;
}

body {
    background-color: #1a1a1a;
}

.content {
    display: grid;
    grid-template-columns: 1fr 10fr;
    gap: .25em;
    height: 100vh;
}

nav,
.pages {
    background-color: #282828;
    border-radius: .5rem;
}

nav {
    padding-right: 0;
}

nav .option {
    display: flex;
    align-items: center;
    gap: .1em;
    margin-top: 1em;
    border-radius: .5rem;
    padding: .25em;
}

nav .option:hover,
nav .option:focus {
    cursor: pointer;
    background-color: #1a1a1a;
}

nav .option p {
    font-size: 0rem;
    transition: font-size 0.3s;
}

nav .projects_collapse {
    display: none;
}

nav .projects_menu {
    display: none;
    margin-left: 1em;
}

.page {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.page h1 {
    font-size: 2rem;
    margin-top: 1em;
    margin-left: 1em;
}

.button {
    border-radius: 15px;
    padding: .25em;
    max-width: 2em;
}

.button:hover,
.button:focus {
    cursor: pointer;
    background-color: #1a1a1a;
}

.page .add_task_btn {
    margin: auto auto 0;
}

.page_content {
    margin-top: 2em;
    margin-left: 2em;
}

.today .input_container {
    display: flex;
    flex-direction: column;
    max-width: 90%;
}

.today .button_container {
    align-self: flex-end;
    opacity: 0;
    transition: all .3s;
    transition-delay: .5s;
}

.today .input_field {
    width: 0rem;
    height: 0rem;
    background-color: #1a1a1a;
    color: rgb(187, 182, 182);
    border: none;
    border-radius: 5px;
    resize: none;
    overflow: hidden;
    transition: all 0.3s;
}

.today .input_field:focus {
    outline: none;
}

.task {
    color: rgb(187, 182, 182);
}

@media (min-width: 700px) {
    .content {
        max-width: 700px;
        margin: 0 auto;
        padding: 1em;
    }
}