@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    font-family: Roboto, sans-serif;
    color: #FFFDD0;
}

body {
    background-color: #1a1a1a;
}

@media only screen and (min-width: 720px) {
    .content {
        max-width: 70%;
        margin: 0 auto;
        padding: 1em;
    }
}

.content {
    display: grid;
    grid-template-columns: 1fr 10fr;
    gap: .25em;
    height: 100vh;
}

nav,
.pages {
    background-color: #282828;
    border-radius: .5rem;
}

nav {
    padding-right: 0;
}

nav .option {
    display: flex;
    align-items: center;
    gap: .25em;
    margin-top: 1em;
    border-radius: .5rem;
    padding: .25em;
}

nav .option:hover {
    cursor: pointer;
    background-color: #1a1a1a;
}

nav .option p {
    display: none;
}

.page {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.page h1 {
    font-size: 2rem;
    margin-top: 1em;
    margin-left: 1em;
}

.page .add_button {
    margin: auto auto 0;
    border-radius: .5rem;
    padding: .25em;
    max-width: 2em;
}

.page .add_button:hover {
    cursor: pointer;
    background-color: #1a1a1a;
}

.page_content {
    margin-top: 2em;
    margin-left: 2em;
}

.task {
    color: rgb(187, 182, 182);
}